/* Created by: liya getachew
* Created on: Sep 24 2022
* This file contains the CSS for index.html
*/

.mdl-layout__content {
  page-align: center;
  justify-content: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

body {
  background-color: #ede3d4
}

h1, h3, h4 {
  color: #845a3e;
  text-align: center;
  font-family: Segoe UI, Arial, Tahoma, sans-serif;
}

ul {
  font-size: 20px;
}

h6 {
  background-color: oldlace;
}